
 <h2 style="text-align: center; color: maroon;"> Whatapp logo for masseging </h2>



  <!-- whatsapp-button.component.html -->

  <div class="button.button1" class="btn btn-primary">
<button (click)="openWhatsAppmessage1()">Message to Ullas </button>
<button (click)="openWhatsAppmessage2()">Message to Bhushan Dada </button>
<button (click)="openWhatsAppmessage3()">Message to Group </button>
</div>
<Br>

 <div>
  <!-- call-button.component.html -->
<button (click)="initiateCall()">Call Us</button>

 </div>
<router-outlet></router-outlet>
